<div class="columns is-centered">
  <div class="column is-half">

    <section class="section">
      <div class="container">
        <div class="tile">
          <h1 class="title">Phone in hand checker</h1>
        </div>
          <p class="subtitle">
            Hi there, lets check you've got your phone on you!
          </p>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="field">
          <label class="label">Mobile</label>
          <div class="control">
            <input id="mobile" class="input" placeholder="+441234567891">
          </div>
        </div>

        <div class="control">
          <button class="button is-warning">Submit</button>
        </div>
        <div id="hidden-section" class="is-">
          <div class="field">
            <label class="label">Enter the code we send we just sent :)</label>
            <div class="control">
              <input id="code" class="input" placeholder="1234">
            </div>
          </div>
          <div class="control">
            <button class="button is-success">Check</button>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>